{% extends 'base.html.twig' %}

{% block title %}Catalog{% endblock %}

{% block body %}
<style>
</style>

<div class="container">
    {% for product in allProducts %}
        <a href="product/{{ product.id }}" target="_blank">
        <img src="../public/img/{{ product.imagePath }}" class="img">
        </a>
    {% endfor %}
</div>
{% endblock %}
