* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}
.img {
    width: 125px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.image_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
}