<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="js/script.js"></script>
</head>
<body>  
  <h1>{{ title }}</h1>
  <hr><br>
  <menu>1. Подгрузка контента с помощью AJAX:
    <li>а) На базе движка из курса «PHP. Уровень 1» взять модуль каталога;</li>
    <li>б) Выводить не все товары разом, а подгружать по 5 по нажатию кнопки «Еще»;</li>
  </menu><br>

  <div class="container" id="main_container">
    {% for image in images %}
    <a href="preview.php?id={{ image.id }}" target="_blank">
      <img src={{ image.image_path }} class="img">
    </a>
    {% endfor %}
  </div>
  <div class="paginator">
    <button onclick="pagination()" class="img">Показать еще</button>
  </div>
</body>
</html>